
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:wght@300&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Montserrat:wght@300&family=Raleway:wght@200&display=swap');

/*========= HEADER ========== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h2, h3, p {
    font-family: 'BioRhyme', serif;
}

h2{
    font-size: 2rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem;
    background: #FF7987;
    align-items: center;
}

.header h1 {
    text-align: center;
    color: #fff;
    font-family: 'Meow Script', cursive;
    font-size: 5rem;
    
}

.header p {
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

/*========= HEADER ========== */

/*========= ROPA NUEVA ========== */
.section_ropa_n {
    display: grid;
    grid-template-columns: 1fr;
    background: #ecc9dd;
}

.section_ropa_n h2{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section_ropa_n img{
    width: 80%;
    padding: .5rem;
    
    box-sizing: content-box;
    
}
.div_separador {
    display: grid;
    grid-template-columns: 1fr;
}
.div_ropa{
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    border-radius: 15px;
    align-items: center;
}

.div_text {
    padding: 0.9rem;
}
.div_text {
    text-align: center;
    border-top: 1px solid #000;
}
/*========= ROPA NUEVA ========== */
/*========= whatsapp ========== */

.div_whatsapp{
    z-index: 100;
    position: fixed;
    margin: 25rem 1rem;
    border: 1px solid #008000;
    background: #008000;
    border-radius: 50%;
}

.div_whatsapp a > i{
    font-size: 2rem;
    padding: 0.5rem;
    color:#fff
}

.div_whatsapp i:hover{
    font-size: 1rem;
}

.footer{
    background: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem;
    align-items: center;
}

.footer > h3 {
    color:#fff;
    text-align: center;
    
}

.div_redesSociales{
    display: flex;
    align-items: center;
}

.footer .div_redesSociales a > i{
    color:#fff;
    margin-left: .8rem;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.3rem;
}

.footer .div_redesSociales a >  i:hover{
    color: #FF7987;
    border: 2px solid #FF7987;
}

.footer .div_redesSociales > h3 {
    color: #fff;
    
}





/*========= whatsapp ========== */